<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Got Rick Rolled!</title>
</head>
<body>
    
</body>
<script>
    var rr = new Audio('static/rr.mp3');
    rr.play();
</script>
<style>
    body {
        background-image: url('https://imgs.smoothradio.com/images/191589?crop=16_9&width=660&relax=1&signature=Rz93ikqcAz7BcX6SKiEC94zJnqo=');
    }
</style>
</html>